---
import { Image } from "astro:assets";

import {
  image01,
  image02,
  image03,
  image04,
  image05,
  image06,
  image07,
  image08,
  image09,
  image10,
  image11,
  image12,
  image13,
} from "@pages/images";
---

<div class="w-full flex items-center justify-center opacity-0 scale-90 relative" id="images-container">
  <Image
    id="image-1"
    src={image01}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover scale-90 absolute z-10 rounded"
  />
  <Image
    id="image-2"
    src={image02}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover scale-95 absolute z-20 rounded"
  />
  <Image
    id="image-3"
    src={image03}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover absolute z-30 rounded"
  />
  <Image
    id="image-4"
    src={image04}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover scale-105 z-40 rounded"
  />
  <Image
    id="image-5"
    src={image05}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover absolute z-30 rounded"
  />
  <Image
    id="image-6"
    src={image06}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover scale-95 absolute z-20 rounded"
  />
  <Image
    id="image-7"
    src={image07}
    alt="imagen de programación"
    width={300}
    height={300}
    class="w-56 h-100 object-cover scale-90 absolute z-10 rounded"
  />
</div>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline();

  tl.to("#images-container", {
    opacity: 1,
    scale: 1,
    duration: 1.2,
    delay: 0.5,
    ease: "power2.out",
  }).to("#images-container", {
    opacity: 0,
    scale: 0.9,
    duration: 1.2,
    delay: 4.5,
    ease: "power2.out",
  });

  gsap.to("#image-3", {
    x: -200,
    duration: 1.5,
    delay: 1.5,
    ease: "power2.out",
  });

  gsap.to("#image-5", {
    x: 200,
    duration: 1.5,
    delay: 1.5,
    ease: "power2.out",
  });

  gsap.to("#image-7", {
    x: -400,
    duration: 2,
    delay: 1.5,
    ease: "power2.out",
  });

  gsap.to("#image-1", {
    x: 400,
    duration: 2,
    delay: 1.5,
    ease: "power2.out",
  });
</script>
